.container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  width: 500px;
  border-radius: 5px;
  margin: auto;
}

#register {
  padding: 10px 20px;
}

label {
  font-size: 20px;
}

input {
  font-size: 20px;
  border-radius: 5px;
}
